html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}
header {
    user-select: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
header > h1{
    font-weight: 300;
    letter-spacing: 0.2em;
    text-align: center;
}

nav {
    user-select: none;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav > h5 {
    margin: 0.75em;
    height: 1.25em;
}

.hover-effect:hover {
    cursor: crosshair;
    text-decoration: underline;
}
.hover-effect-0:hover{
    cursor: crosshair;
}

#img-container {
    max-width: 50vw;
    width: 50vw;
}
#img-container > div > img {
    width: 50vw;
    height: auto;
    margin: 0.25em 0 0.25em 0;
}
#img-container > div > p {
    /* font-size: 16px; */
    font-weight: 500;
}
#img-container > div > h4 {
    text-transform: uppercase;
    margin-top: 0;
}
#img-container > div > li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.img-info {
    margin-bottom: 0.5em;
}
.img-div {
    margin-bottom: 2em;
}

.back-icon {
    user-select: none;
    margin: 0;
}

#home-wrap {
    margin: 1em;
    /* display: none; */
    max-width: 100vw;
}
.img-slide {
    width: 70vw;
    max-width: 70vw;
    margin: auto;
    background-color: rgba(0,0,0,1);
}
.img-slide > img {
    width: 70vw;
    animation-name: imgtransition;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}
@keyframes imgtransition {
    0% {opacity: 0;}
    30% {opacity: 0.75;}
    60% {opacity: 1;}
    100% {opacity: 1;}
}

#topic-wrap > h2 {
    user-select: none;
}
.topic-wrap-thumbnail {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 4em 8em 4em;
}
.topic-wrap-thumbnail > div {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    opacity: 0.85;
}
.topic-wrap-thumbnail > div:hover {
    opacity: 70%;
}
.topic-wrap-thumbnail > div > h2 {
    font-weight: 300;
    color: white;
}
.topic-wrap-large {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 4em 8em 4em;
}
.topic-wrap-large > div {
    width: auto;
    height: auto;
}
.topic-wrap-large > div > h2 {
    font-weight: 300;
    margin: 0.5em;
}
.topic-wrap-small {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
}
.topic-wrap-small > div > h2 {
    font-weight: 300;
    padding: 0.25em;
    margin: 0.25em;
    border: solid 1px lightgray;
}
.topic-wrap-small > h2:hover {
    background-color: lightgray;
}

.photo-wrap-large {
    margin: 3em 4em 8em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-wrap-large > li {
    padding: 0.1em;
    margin: 0.2em;
}
.photo-wrap-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em;
}
.photo-wrap-small > li {
    padding: 0.1em;
    margin: 0.25em;
    border: 1px solid lightgray;
}
.photo-wrap-small > li:hover {
    cursor: crosshair;
    background-color: lightgray;
}
#photo-wrap > li {
    text-transform: uppercase;
    text-align: center;
    /* font-weight: 300; */
}
.label-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: none;
    justify-content: center;
    max-width: 75%;
    margin: 1em 0 0 0;
}
.label-div > li {
    text-transform: lowercase;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(78, 0, 0);
    border: 1.75px solid red;
    background-color: rgba(255, 0, 0, 0.25);
}
li {
    user-select: none;
    list-style: none;
}

footer {
    user-select: none;
    width: 100vw;
    height: 50px;
    color: black;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
footer > p {
    font-weight: 300;
    font-size: 10px;
    margin-left: 30px;
    padding: 1em;
    background-color: rgba(255,255,255,1);
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #img-container {
        margin: 0;
        max-width: 90vw;
        width: 90vw;
    }
    #img-container > div > img {
        width: 90vw;
        height: auto;
    } 
    footer {
        background-color: rgba(255,255,255,0.65);
    }
    footer > p {
        background-color: transparent;
    }
    .img-slide {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
    .img-slide > img {
        width: 100%;
    }
}